@media (max-width: 1366px) {
  .logo {
    margin-left: 10px;
  }

  .menu {
    &__list {
      width: 800px;
    }
  }

  .top {
    &__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__content {
      order: 1;
      padding-left: 0;
      text-align: center;
    }
  }

  .top-slider {
    &__images {
      margin-right: 15px;
    }
  }
}

@media (max-width: 1080px) {

  .menu {
    order: 1;

    &__burger {
      display: block;
      width: 45px;
      height: 31px;
      margin-right: 10px;
      background-image: url('../images/icon/menu.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      background-color: $bg-header;
      transition: all 0.3s linear;
      cursor: pointer;
    }

    &__burger--active {
      padding: 5px;
      background-image: url('../images/icon/close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.3s linear;

      &:hover {
        padding: 5px;
        background-image: url('../images/icon/close-bold.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.3s linear;
      }
    }

    &__list {
      visibility: hidden;
      flex-direction: column;
      position: absolute;
      top: 53px;
      right: 0px;
      width: 197px;
      z-index: 5;
      background-image: url("../images/bg-top.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $default;
      transform: translateY(27px);
      transition: all 0.5s;
      opacity: 0;

      &.active {
        visibility: visible;
        transform: translateY(27px);
        opacity: 1;
        transition: all 0.5s;
      }
    }

    &__item {
      padding: 10px 0 0 20px;
      margin: 0;

      &+.menu__item {
        margin: 0;
      }

      &:first-child {
        padding: 20px 0 0 20px;
      }
    }

    &__link {
      display: block;
      padding: 10px 0;
    }
  }

  .language {
    margin: 0 15px 0 auto;
  }

  .top {
    &__inner {
      padding: 81px 0 60px;
    }

    &__content {
      padding: 35px 0 0 10px;
    }

    &__text {
      margin-bottom: 45px;
    }
  }

  .info {
    &__inner {
      flex-wrap: wrap;
    }

    &__text {
      font-size: 20px;
    }
  }

  .top-slider {
    padding-bottom: 60px;

    &__content {
      max-width: 585px;
      margin: 0 auto 45px;
    }
  }

  .price-slider {
    &__content {
      left: 0;
    }
  }

  .faq {
    &__inner {
      margin-left: 20px;
    }

    &__item {
      margin-left: 20px;
    }
  }

  .contact {
    #map {
      margin-right: 25px;
    }
  }
}

@media (max-width: 768px) {

  .title {
    font-size: 30px;
  }

  .info,
  .top-slider,
  .price-slider,
  .reviews-slider,
  .faq,
  .contact {
    padding: 60px 0;
  }

  .top {
    padding: 60 0 0;

    &__title {
      font-size: 45px;
    }

    &__content {
      padding-top: 25px;
    }

    &__text {
      font-size: 27px;
    }
  }

  .info {
    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  .top-slider {
    &__content {
      padding: 0 10px 0 0;
    }

    &__name {
      font-size: 25px;
    }

    &__text {
      font-size: 20px;
    }
  }

  .price-slider {
    &__inner {
      padding-left: 0;
    }

    &__item {
      position: relative;
      padding: 0 10px;
      left: 30%;
      max-width: 250px;
      transform: translateX(-50%);
    }

    &__content {
      padding-top: 1px;
    }

    &__subtitle {
      position: absolute;
      order: 1;
      right: -145px;
      min-width: 126px;
      padding-top: 1px;
      text-align: left;
      font-size: 16px;

      &::after {
        left: 0;
        top: 24px;
      }
    }

    &__text {
      min-width: 136px;
      right: -170px;
      top: 55px;
      opacity: 1;
      text-align: left;
      background-color: transparent;
      font-size: 12px;

      &:not(:hover) {
        pointer-events: none;
      }
    }

    &__cost {
      right: 0;
      bottom: 0;
    }

    .link {
      position: absolute;
      max-width: 151px;
      padding: 9px 15px;
      bottom: -19px;
      right: -165px;
      font-size: 20px;
    }
  }

  .contact {
    &__inner {
      flex-direction: column;
    }

    &__info {
      padding-top: 0;
      margin: 0 auto;
    }

    &__box {
      margin-bottom: 25px;
    }

    &__text {
      max-width: 240px;
      font-size: 20px;
    }

    &__phone {
      font-size: 20px;
    }

    #map {
      order: 1;
      max-width: 585px;
      height: 285px;
      margin: 0 auto;
    }
  }

  .footer {
    &__copy {
      font-size: 17px;
    }
  }
}

@media (max-width: 576px) {

  .header {
    padding: 12px 10px;
  }

  .top {
    padding: 84px 0 0;

    &__container {
      padding: 0;
    }

    &__inner {
      position: relative;
      flex-direction: inherit;
      padding: 12px 0 0;
    }

    &__title {
      font-size: 20px;
    }

    &__content {
      width: 250px;
      padding: 181px 0 240px;
      margin-left: -180px;
      text-align: left;
      order: 0;
      z-index: 1;
    }

    &__text {
      margin: 0 0 30px;
      text-align: left;
      font-size: 14px;
    }

    &__image {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 197px;
    }

    .link {
      margin: 0px 30px 5px 0;
      font-size: 20px;
    }
  }

  .info {
    font-size: 20px;

    &__text {
      &::after,
      &::before {
        width: 150px;
      }
    }
  }

  .top-slider {
    &__images {
      width: 40%;
      height: 100%;
    }

    &__name {
      font-size: 17px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .faq {
    &__title {
      font-size: 18px;
    }

    &__item {
      &::marker {
        font-size: 15px;
      }
    }

    &__subtitle {
      font-size: 15px;

      &::before,
      &::after {
        top: 20px;
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  .star {
    display: none;
  }

  .star-adaptive {
    display: block;
  }
}

@media (max-width: 450px) {

  .top {
    &__inner {
      padding: 0;
    }

    &__content {
      padding-bottom: 227px;
      padding-left: 5px;
      margin-left: -110px;
    }

    &__text {
      width: 160px;
    }

    .link {
      margin: 0 90px 15px 0;
    }
  }

  .reviews-slider {
    &__title {
      &::after {
        width: 100px;
      }
    }
  }

  .price-slider {
    padding: 40px 0;

    &__inner {
      padding-left: 0;
    }

    &__content {
      width: 70%;
      margin: 0 20px;
    }

    &__item {
      position: relative;
      padding: 0 10px;
      left: 30%;
      max-width: 250px;
      transform: translateX(-50%);
    }

    &__subtitle {
      position: absolute;
      order: 1;
      right: -145px;
      min-width: 126px;
      padding-top: 1px;
      text-align: left;
      font-size: 16px;

      &::after {
        left: 0;
        top: 24px;
      }
    }

    &__text {
      position: absolute;
      min-width: 136px;
      right: -170px;
      top: 45px;
      opacity: 1;
      text-align: left;
      background-color: transparent;
      font-size: 12px;

      &:not(:hover) {
        pointer-events: none;
      }
    }

    &__cost {
      right: 0;
      width: 53px;
      height: 51px;
      font-size: 14px;
    }
  }
}

@media (max-width: 375px) {

  .title {
    margin-bottom: 25px;
    font-size: 18px
  }

  .header {
    padding: 12px 0;
    &__inner {
      display: block;
    }

    .logo {
      position: absolute;
      bottom: 0;
      z-index: 6;
    }

    .logo--active {
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin: 0;
      z-index: 6;
    }

  }

  .menu {
    &__burger {
      margin-left: auto;
    }

    &__text--active {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 20px;
      color: $btn;
    }

    &__list {
      display: none;
      top: 10px;
      transition: all 0s;

      &.active {
        display: block;
        height: 100vh;
        position: relative;
        width: 100%;
        text-align: center;
        transform: translateY(10px);
        transition: all 0s;
      }
    }

    &__item {
      padding: 10px 0 0;
      margin: 0;

      &+.menu__item {
        margin: 0;
      }

      &:first-child {
        padding: 20px 0 0 0;
      }
    }

    &__link {
      display: block;
      padding: 10px 0;
    }
  }

  .language {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    z-index: 6;
    transform: translate(-50%, -500%);
    transition: all 0.3s;
  }

  .top {
    padding-top: 55px;

    &__title {
      width: 230px;
    }

    &__content {
      padding-bottom: 145px;
      padding-left: 30px;
      margin-left: -110px;
    }

    &__test {
      font-size: 14px;
    }

    &__image {
      width: 170px;
    }

    .link {
      font-size: 18px;
    }
  }

  .info,
  .top-slider,
  .reviews-slider,
  .faq,
  .contact {
    padding: 40px 0;
  }

  .info {
    &__text {
      font-size: 14px;

      &::after,
      &::before {
        width: 120px;
      }
    }
  }

  .price-slider {
    &__content {
      width: 50%;
      margin: 0 35px;
    }

    .link {
      max-width: 130px;
      right: -150px;
    }
  }

  .reviews-slider {
    &__title {
      &::after {
        top: 270px;
      }
    }

    &__item {
      height: 200px;
    }

    &__text {
      font-size: 14px;
    }

    &__name {
      font-size: 15px;
    }
  }

  .faq {
    &__arrow {
      top: 32px;
    }
  }

  .contact {
    &__container {
      padding: 0;
    }

    &__box {
      margin-bottom: 10px;
    }

    &__text {
      width: 200px;
      font-size: 16px;
    }

    &__phone {
      font-size: 16px;
    }

    #map {
      max-width: 375px;
      height: 245px;
    }

  }

  .footer {
    &__link-icon {
      width: 27px;
    }

    &__copy {
      font-size: 12px;
    }
  }

  .popup {
    &__title {
      margin-bottom: 0;
    }

    &__content {
      padding: 15px 5px;
    }
  }

  .confirmation {
    &__content {
      padding: 50px 30px;
    }
  }
}