$accent-hover: #008A1A;
$form-hover: #C5B5A7;
$accent-btn: #6A9371;
$bg-header: #D4C2AF;
$language: #6b6b6b;
$default: #E6D2BE;
$accent: #81A688;
$border: #BEBEBE;
$price: #D7C3B6;
$popup: #E6D5C3;
$dots: #ECE4DC;
$text: #000000;
$btn: #FFFFFF;

$roboto: "Roboto", sans-serif;
$sanchez: "Sanchez", sans-serif;
$ibmplexsans: "IBMPlexSans",sans-serif;