@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  z-index: 5;
  padding: 4px 0 8px;
  background: $bg-header;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1430px;
    margin: 0 auto;
  }
}

.logo {
  margin: 3px 0 0 33px;
  outline: transparent;
}

.menu {

  &__btn {
    display: none;
  }

  &__text {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__item+.menu__item {
    margin-left: 90px;
  }

  &__item {
    &:first-child {
      margin-left: 50px;
    }

    &:nth-child(2) {
      margin-left: 110px;
    }

    &:nth-child(5) {
      margin-left: 85px;
    }

    &:last-child {
      margin-right: 55px;
    }
  }

  &__link {
    padding: 0 0 4px;
    border-bottom: 3px solid transparent;
    @extend %roboto-700;
    color: $text;
    transition: all 0.3s linear;
    outline: transparent;

    &:hover {
      border-bottom: 3px solid $accent;
    }

    &:focus {
      border-bottom: 3px solid $accent;
    }

    &:active {
      border-bottom: 3px solid $accent;
      color: $accent;
    }
  }
}

.language {
  position: relative;
  margin-right: 9px;

  span {
    letter-spacing: -10px;
    color: $text;
  }

  &__link {
    @extend %roboto-700;
    color: $language;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    outline: transparent;

    &:hover {
      color: $text;
      border-bottom: 3px solid $accent;
    }

    &:focus {
      border-bottom: 3px solid $accent;
      color: $text;
      transition: color 0.3s;
    }
  }

  & .language__link--ru {
    color: $text;
    border-bottom: 3px solid $accent;
  }
}

.top {
  padding-top: 72px;
  background-image: url("../images/bg-top.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 85px;
  }

  &__content {
    max-width: 605px;
    padding: 71px 0 0 15px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %roboto-700;
    font-size: 55px;
    line-height: 55px;
  }

  &__text {
    margin-bottom: 90px;
    @extend %roboto-300;
    font-size: 32px;
    line-height: 35px;
  }

  &__images--adaptive {
    display: none;
  }
}

.info {
  padding: 90px 0;

  &__container {
    max-width: 1430px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 280px;

    & .info__item-text {
      &:nth-child(4) {
        margin-left: 10px;
      }
    }
  }

  &__item-text {
    padding-top: 40px;
    @extend %roboto-400;
    font-size: 24px;
    line-height: 28px;

    &::after {
      content: '';
      display: block;
      width: 213px;
      padding: 2px 0;
      margin-top: 30px;
      border-radius: 5px;
      background: $accent;
    }
  }

  &__item-text-two {
    padding-top: 0;

    &::after {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      width: 213px;
      padding: 2px 0;
      margin-bottom: 20px;
      border-radius: 5px;
      background: $accent;
    }

  }
}

.top-slider {
  
  padding-bottom: 90px;

  &__container {
    max-width: 1475px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    margin: 0 20px 45px 0;
    padding-left: 25px;
  }

  &__images {
    margin-right: 48px;
    border-top: 15px solid $accent;
    border-left: 10px solid $accent;
  }

  &__name {
    margin-bottom: 25px;
    @extend %roboto-700;
    font-size: 26px;
    line-height: 30px;
  }

  &__text {
    @extend %roboto-it-300;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: -0.7px;
  }

  .slick-dots {
    margin-top: -20px;
  }
}

.price-slider {
  padding: 90px 0 70px;
  background-image: url('../images/bg-price.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    max-width: 1450px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    max-width: 250px;
    margin-bottom: 15px;
  }

  &__content {
    position: relative;
    left: 43px;
  }

  &__subtitle {
    margin-bottom: 15px;
    text-align: center;

    &::after {
      content: '';
      width: 19px;
      height: 23px;
      background-image: url("../images/icon/i.svg");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      right: 5px;
      top: 3px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    z-index: 1;
    padding: 10px;
    opacity: 0;
    border-radius: 50%;
    @extend %sanchez-it-400;
    font-size: 0;
    line-height: 1.2em;
    text-align: center;
    background-color: $price;
    transition: all 0.3s;

    &:hover {
      top: 0px;
      right: -55px;
      width: 110px;
      height: 100px;
      opacity: 1;
      font-size: 9px;
      line-height: 1.2em;
    }
  }

  &__video {
    max-width: 250px;
    margin-bottom: 10px;
    outline: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 55px;
      height: 70px;
      background-image: url("../images/icon/play-btn.png");
    }

    &:hover .price-slider__images {
      outline: 1px solid $accent-hover;
    }
  }

  &__cost {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 60px;
    right: -20px;
    width: 70px;
    height: 70px;
    border: 1px solid $accent;
    border-radius: 50%;
    justify-content: center;
    background-color: $price;
    color: $text;
    @extend %roboto-it-300;
    font-size: 20px;
    line-height: 23px;
  }

  &__images {
    margin: 0 0 10px 1px;
  }
}

.reviews-slider {
  padding: 82px 0;

  &__container {
    max-width: 1420px;
  }

  &__title {
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 388px;
      left: 50%;
      width: 174px;
      padding: 2px 0;
      border-radius: 5px;
      background: #81a688;
      transform: translateX(-50%);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 50px;
    max-width: 280px;
    height: 280px;
    text-align: center;
  }

  &__images {
    margin: 0 auto 5px;
  }

  .reviews-slider__images-adaptive {
    display: none;
    margin: 0 auto 5px;
  }

  &__name {
    margin-bottom: 5px;
    @extend %roboto-700;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }

  &__text {
    @extend %roboto-it-100;
    font-size: 18px;
    line-height: 21px;
  }

  .slick-dots {
    margin-top: -20px;
  }
}

.faq {
  padding: 85px 0 65px;
  background-color: $accent;

  &__inner {
    margin-left: 90px;
  }

  &__title {
    margin-right: 75px;
    margin-bottom: 35px;
    color: $btn;
  }

  &__list {
    max-width: 1105px;
    color: $btn;
  }

  &__item {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: relative;
      left: -25px;
      height: 1px;
      margin-bottom: 35px;
      background-color: $btn;
    }

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 25px;
      width: 20px;
      height: 20px;
      background-color: $btn;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__subtitle {
    position: relative;
    padding-right: 50px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      width: 9px;
      height: 1px;
      background-color: $accent;
      transition: all 0.3s;
    }

    &::before {
      right: 33px;
      transform: rotate(40deg);
    }

    &::after {
      right: 27px;
      transform: rotate(-40deg);
    }
  }

  &__subtitle.active::before {
    transform: rotate(-40deg);
  }

  &__subtitle.active::after {
    transform: rotate(40deg);
  }

  &__text {
    display: none;
    margin-bottom: 25px;
    padding: 25px 30px 0 0;
    @extend %roboto-it-300;
    font-size: 20px;
    line-height: 1.2em;
  }
}

.contact {
  padding: 85px 0;

  &__container {
    max-width: 1430px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
  }

  &__info {
    max-width: 440px;
    padding-top: 55px;
  }

  &__info-box {
    display: flex;
    margin-bottom: 35px;
  }

  &__info-icon {
    width: 50px;
    margin-right: 5px;
  }

  &__info-images {
    padding-top: 5px;
  }

  &__info-text {
    width: 430px;
  }

  &__phone {
    display: block;
    color: $text;
  }
}

.footer {
  background-color: $accent;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__item {
    display: flex;
  }

  &__copy {
    @extend %ibmplexsans-400;
    font-size: 24px;
    line-height: 31px;
    color: $default;
  }

  &__link:nth-child(1) {
    margin-right: 10px;
  }
}

#map {
  width: 100%;
  height: 430px;
  margin-right: 100px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.9);
  z-index: 6;

  &__area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 30px 10px;
  }

  &__content {
    position: relative;
    max-width: 355px;
    padding: 35px 25px;
    color: $text;
    background-color: $popup;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 17px;
    background-image: url('../images/icon/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      background-image: url('../images/icon/close-bold.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.3s linear;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
  }

  &__text {
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
  }

  select {
    appearance: none;
    background-image: url('../images/icon/arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    cursor: pointer;
  }

  &__input {
    position: relative;
    width: 300px;
    padding: 5px 15px;
    border: 1px solid $border;
    font-size: 16px;
    line-height: 19px;
    background: #ECE4DC;
    transition: all 0.3s;
    outline: transparent;

    &::placeholder {
      font-size: 16px;
      line-height: 19px;
    }

    &:hover {
      border: 1px solid $text;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    &:focus {
      border: 1px solid $text;

      &::placeholder {
        font-size: 0;
      }
    }
  }

  &__option {
    font-size: 16px;
    line-height: 19px;
    background: $form-hover;
    background-color: $popup;
    transition: all 0.3s;
  }

  &__option--first {
    color: $border;
    background-color: $default;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 25px auto 0;
    border-radius: 6px;
    border: 1px solid $accent-hover;
    @extend %roboto-700;
    font-size: 16px;
    line-height: 19px;
    color: $btn;
    background-color: $border;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $accent;
    }

    &:hover,
    &:focus {
      background-color: $accent;
      border: 1px solid $accent-hover;
    }

    &:active {
      background-color: $accent-btn;
    }

    &:disabled {
      color: #AFA094;
      background-color: $default;
      border: 1px solid $accent;
    }
  }
}

.confirmation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.9);
  z-index: 6;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 35px 25px;
  }

  &__content {
    position: relative;
    max-width: 355px;
    padding: 100px 30px 70px;
    background-image: url("../images/icon/confirmation-bg.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $default;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 17px;
    padding: 5px;
    background-image: url('../images/icon/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      padding: 5px;
      background-image: url('../images/icon/close-bold.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.3s linear;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 28px;
  }

  &__text {
    margin-bottom: 40px;
    @extend %roboto-it-300;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
  }
}

.no-scroll,
.no-scroll-two {
  overflow-y: hidden;
}

@import 'media';